asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
crispy-tailwind==1.0.3
Django
django-allauth==65.4.1
django-crispy-forms==2.3
django-debug-toolbar==5.0.1
django_db==0.0.7
gunicorn==21.2.0
idna==3.10
packaging==24.2
phonenumbers==8.13.55
pillow==11.1.0
psycopg2-binary==2.9.10
PyMySQL==1.1.1
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.3
stripe==11.6.0
typing_extensions==4.12.2
urllib3==2.3.0